
body{
  min-width: 700px;
}

.hidden{
    display: none;
}

.show-menu{
    position: absolute;
}

.logo {
  height: 120px;
}

ul {
    list-style-type: none;
  }
  
  ul li {
    display: inline;
    margin-right: 10px;
  }
  
  .profile-dropdown {
    position: absolute;
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
    padding: 10px;
    margin-top: 10px;
  }
  
  .profile-dropdown.hidden {
    display: none;
  }
  
  .modal-link:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .navigationHeader{
    display: grid;
    min-width: 700px;

    
  }

  /* @media screen and (min-width: 700px){
    .navigationHeader{
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-content: center
    }
  } */

  body{
    min-width: 700px;
  }
